* {
    margin: 0em;
}

body {
    padding-top: 2em;
    padding-bottom: 2em;
}
thead td {
    font-weight: bold;
}

div.blue {
    background-color: #2973b7;
}

.margin-bottom {
    margin-bottom: 2em;
}

.hidden {
    display: none;
}

.not-active {
   pointer-events: none;
   cursor: default;
}

#search-inner-panel {
    width: 40em;
    margin-top: .5em;
}

#contactsTable a {
    text-decoration: none;
}